<header class="page-header">
  <div class="page-header-container container">
    <!-- Logo & menu -->
    <nav class="main-nav">
      <div class="logo-wrapper">
        <a class="logo-link-header-left link" href="#hero"
          >SIMPLY <span class="logo-link-header-right">CHOCOLATE</span>
        </a>
        <svg class="header-logo-icon">
          <use href="/img/icons.svg#icon-logo-chocolate"></use>
        </svg>
      </div>
      <ul class="menu-list-header">
        <li class="menu-item-header">
          <a class="menu-link-header current link" href="#hero">Home</a>
        </li>
        <li class="menu-item-header">
          <a class="menu-link-header link" href="#how-its-made"
            >How it’s made?</a
          >
        </li>
        <li class="menu-item-header">
          <a class="menu-link-header link" href="#our-products">Our products</a>
        </li>
        <li class="menu-item-header">
          <a class="menu-link-header link" href="#top-sellers">Top sellers</a>
        </li>

        <li class="menu-item-header">
          <a class="menu-link-header link" href="#reviews"
            >Chocolate is loved</a
          >
        </li>
      </ul>
    </nav>
    <!-- Button Burger Menu -->
    <button
      class="mobile-menu-open js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
      type="button"
    >
      <svg class="mobile-menu-open-icon" width="20" height="20">
        <use href="/img/icons.svg#icon-hamburger"></use>
      </svg>
    </button>
    <!-- Social media -->
    <ul class="header-social-list list">
      <li class="header-social-item">
        <a
          class="header-social-link link"
          href="https://www.instagram.com/"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="header-social-icon" width="24" height="24">
            <use href="/img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-social-item">
        <a
          class="header-social-link link"
          href="https://twitter.com/"
          target="_blank"
          rel="noreferrer noopener"
        >
          <svg class="header-social-icon" width="24" height="24">
            <use href="/img/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
    <!-- Mobile Menu -->
    <div class="mobile-menu js-menu-container" id="mobile-menu">
      <div class="mobile-menu-container container-desktop">
        <button class="mobile-menu-close-btn js-close-menu" type="button">
          <svg
            class="mobile-menu-close-icon"
            aria-label="close icon"
            width="28"
            height="28"
          >
            <use href="/img/icons.svg#icon-x-mark"></use>
          </svg>
        </button>
        <ul class="mobile-menu-list list">
          <li class="mobile-menu-item">
            <a class="mobile-menu-link current-mobile link" href="#hero"
              >Home</a
            >
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link link" href="#how-its-made"
              >How it’s made?</a
            >
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link link" href="#our-products"
              >Our products</a
            >
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link link" href="#top-sellers">Top sellers</a>
          </li>

          <li class="mobile-menu-item">
            <a class="mobile-menu-link link" href="#reviews"
              >Chocolate is loved</a
            >
          </li>
        </ul>
        <ul class="mobile-social-list list">
          <li class="mobile-social-item">
            <a
              class="mobile-social-link link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg
                class="mobile-social-icon"
                aria-label="instagram icon"
                width="24"
                height="24"
              >
                <use href="/img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="mobile-social-item">
            <a
              class="mobile-social-link link"
              href="https://twitter.com/"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg
                class="mobile-social-icon"
                aria-label="twitter icon"
                width="24"
                height="24"
              >
                <use href="/img/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
