<section class="section-four section">
  <div class="container container-section-four">
    <h2 class="section-four-header" id="how-its-made">
      How it's <span class="text-accent">made?</span>
    </h2>
    <div class="container-img-list">
      <div class="container-image">
        <picture>
          <source
            srcset="
              /img/how-its-made/how-its-made-desk-1x.jpg 1x,
              /img/how-its-made/how-its-made-desk-2x.jpg 2x
            "
            src="/img/how-its-made/how-its-made-desk-1x.jpg"
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              /img/how-its-made/how-its-made-tab-1x.jpg 1x,
              /img/how-its-made/how-its-made-tab-2x.jpg 2x
            "
            src="/img/how-its-made/how-its-made-tab-1x.jpg"
            width="614"
            height="400"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/how-its-made/how-its-made-mob-1x.jpg 1x,
              /img/how-its-made/how-its-made-mob-2x.jpg 2x
            "
            src="/img/how-its-made/how-its-made-mob-1x.jpg"
            media="(min-width: 320px)"
          />
          <img
            class="section-four-image"
            src="/img/how-its-made/how-its-made-mob-1x.jpg"
            alt="How it's made?"
          />
        </picture>
        <div class="container-icon">
          <svg class="icon-play" width="35" height="35">
            <use href="/img/icons.svg#icon-play"></use>
          </svg>
        </div>
      </div>
      <div class="section-four-background">
        <h3 class="section-four-list-header">
          Try our chocolates today and discover the perfect balance of flavor
        </h3>
        <ul class="section-four-list">
          <li class="section-four-list-item">
            <span class="section-four-list-text"></span>Heat the milk in a
            saucepan without bringing it to a boil. Add sugar and cocoa powder.
          </li>
          <li class="section-four-list-item">
            <span class="section-four-list-text"
              >At the same time, prepare a water bath. Melt the butter on
              it.</span
            >
          </li>
          <li class="section-four-list-item">
            <span class="section-four-list-text"
              >"Mix" the milk mixture and already liquid butter. Mix thoroughly
              with a silicone spatula so that the mass becomes uniform and
              silky.</span
            >
          </li>
          <li class="section-four-list-item">
            Heat the mixture over low heat, letting it barely boil.
          </li>
          <li class="section-four-list-item">
            Pour the chocolate into special containers (can be replaced with ice
            molds). Allow to cool and harden.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
