<section class="our-production-section section">
  <div class="container">
    <h2 class="our-products-title" id="our-products">
      OUR <span class="text-accent">PRODUCTS</span>
    </h2>
    <!-- Slider main container -->
    <div class="swiper-container" id="our-products-swiper">
      <!-- Additional required wrapper -->

      <ul class="our-products-list swiper-wrapper">
        <!-- Slides -->

        <li class="our-products-item swiper-slide">
          <picture>
            <source
              srcset="
                /img/products-card-img/image@webp/orange.webp    1x,
                /img/products-card-img/image@webp/orange@2x.webp 2x
              "
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="
                /img/products-card-img/image@1x/orange.jpg    1x,
                /img/products-card-img/image@2x/orange@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />

            <img
              class="products-card-img"
              src="/img/products-card-img/image@1x/orange.jpg"
              alt="orange-chocolate"
              width="230"
              height="201"
            />
          </picture>
          <div class="name-products">
            <h3 class="subtitle-products-card">ORANGE</h3>
            <p class="text-products-card">Dark chocolate</p>
            <button class="products-card-btn" type="button">45 UAH</button>
          </div>
        </li>

        <li class="our-products-item swiper-slide">
          <picture>
            <source
              srcset="
                /img/products-card-img/image@webp/apple-cranberry.webp    1x,
                /img/products-card-img/image@webp/apple-cranberry@2x.webp 2x
              "
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="
                /img/products-card-img/image@1x/apple-cranberry.jpg    1x,
                /img/products-card-img/image@2x/apple-cranberry@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="products-card-img"
              src="/img/products-card-img/image@1x/apple-cranberry.jpg"
              alt="apple-cranberry-chocolate"
              width="230"
              height="201"
            />
          </picture>

          <div class="name-products">
            <h3 class="subtitle-products-card">APPLE&CRANBERRY</h3>
            <p class="text-products-card">Milk chocolate</p>
            <button class="products-card-btn" type="button">50 UAH</button>
          </div>
        </li>

        <li class="our-products-item swiper-slide">
          <picture>
            <source
              srcset="
                /img/products-card-img/image@webp/lime-sea-salt.webp    1x,
                /img/products-card-img/image@webp/lime-sea-salt@2x.webp 2x
              "
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="
                /img/products-card-img/image@1x/lime-sea-salt.jpg    1x,
                /img/products-card-img/image@2x/lime-sea-salt@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="products-card-img"
              src="/img/products-card-img/image@1x/lime-sea-salt.jpg"
              alt="lime-sea-salt-chocolate"
              width="230"
              height="201"
            />
          </picture>
          <div class="name-products">
            <h3 class="subtitle-products-card">LIME&SEA SALT</h3>
            <p class="text-products-card">Dark chocolate</p>
            <button class="products-card-btn" type="button">66 UAH</button>
          </div>
        </li>

        <li class="our-products-item swiper-slide">
          <picture>
            <source
              srcset="
                /img/products-card-img/image@webp/pineapple.webp    1x,
                /img/products-card-img/image@webp/pineapple@2x.webp 2x
              "
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="
                /img/products-card-img/image@1x/pineapple.jpg    1x,
                /img/products-card-img/image@2x/pineapple@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="products-card-img"
              src="/img/products-card-img/image@1x/pineapple.jpg"
              alt="pineapple-chocolate"
              width="230"
              height="201"
            />
          </picture>
          <div class="name-products">
            <h3 class="subtitle-products-card">PINEAPPLE</h3>
            <p class="text-products-card">Dark chocolate</p>
            <button class="products-card-btn" type="button">54 UAH</button>
          </div>
        </li>

        <li class="our-products-item swiper-slide">
          <picture>
            <source
              srcset="
                /img/products-card-img/image@webp/classic-milk.webp    1x,
                /img/products-card-img/image@webp/classic-milk@2x.webp 2x
              "
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="
                /img/products-card-img/image@1x/classic-milk.jpg    1x,
                /img/products-card-img/image@2x/classic-milk@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="products-card-img"
              src="/img/products-card-img/image@1x/classic-milk.jpg"
              alt="classic-milk-chokolate"
              width="230"
              height="201"
            />
          </picture>
          <div class="name-products">
            <h3 class="subtitle-products-card">CLASSIC</h3>
            <p class="text-products-card">Milk chocolate</p>
            <button class="products-card-btn" type="button">45 UAH</button>
          </div>
        </li>

        <li class="our-products-item swiper-slide">
          <picture>
            <source
              srcset="
                /img/products-card-img/image@webp/honey.webp    1x,
                /img/products-card-img/image@webp/honey@2x.webp 2x
              "
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="
                /img/products-card-img/image@1x/honey.jpg     1x,
                /img/products-card-img/image@2sx/honey@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="products-card-img"
              src="/img/products-card-img/image@1x/honey.jpg"
              alt="honey-chocolate"
              width="230"
              height="201"
            />
          </picture>
          <div class="name-products">
            <h3 class="subtitle-products-card">HONEY</h3>
            <p class="text-products-card">Milk chocolate</p>
            <button class="products-card-btn" type="button">50 UAH</button>
          </div>
        </li>

        <li class="our-products-item swiper-slide">
          <picture>
            <source
              srcset="
                /img/products-card-img/image@webp/roasted-fruits.webp    1x,
                /img/products-card-img/image@webp/roasted-fruits@2x.webp 2x
              "
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="
                /img/products-card-img/image@1x/roasted-fruits.jpg    1x,
                /img/products-card-img/image@2x/roasted-fruits@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="products-card-img"
              src="/img/products-card-img/image@1x/roasted-fruits.jpg"
              alt="roasted-fruits-chocolate"
              width="230"
              height="201"
            />
          </picture>
          <div class="name-products">
            <h3 class="subtitle-products-card">ROASTED FRUITS</h3>
            <p class="text-products-card">Dark chocolate</p>
            <button class="products-card-btn" type="button">66 UAH</button>
          </div>
        </li>

        <li class="our-products-item swiper-slide">
          <picture>
            <source
              srcset="
                /img/products-card-img/image@webp/classic-white.webp    1x,
                /img/products-card-img/image@webp/classic-white@2x.webp 2x
              "
              media="(min-width: 320px)"
              type="image/webp"
            />
            <source
              srcset="
                /img/products-card-img/image@1x/classic-white.jpg    1x,
                /img/products-card-img/image@2x/classic-white@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              class="products-card-img"
              src="/img/products-card-img/image@1x/classic-white.jpg"
              alt="classic-white-chocolate"
              width="230"
              height="201"
            />
          </picture>
          <div class="name-products">
            <h3 class="subtitle-products-card">CLASSIC</h3>
            <p class="text-products-card">White chocolate</p>
            <button class="products-card-btn" type="button">54 UAH</button>
          </div>
        </li>
      </ul>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
