<section class="section reviews-section">
  <div class="container">
    <h1 class="section-header reviews-title" id="reviews">
      <span class="text-accent">CHOCOLATE</span> IS LOVED
    </h1>
    <div class="swiper-container" id="reviews-swiper">
      <ul class="reviews-list swiper-wrapper">
        <li class="review-item swiper-slide">
          <img
            class="reviewer-photo"
            srcset="
              /img/reviews/jedi/rey-88x88.png 1x,
              /img/reviews/jedi/rey-88x88.png 2x
            "
            src="/img/reviews/victoria-dobrzhanska.jpg"
            alt="Victoria Dobrzhanska"
            width="80"
            height="80"
          />
          <!-- <h2 class="reviewer-name">Victoria Dobrzhanska</h2> -->
          <h2 class="reviewer-name">Rey</h2>
          <p class="review-text">
            I love this chocolate bar. Perfect combination of light crispy
            wafer, covered in a thin layer chocolate.
          </p>
        </li>

        <li class="review-item swiper-slide">
          <img
            class="reviewer-photo"
            srcset="
              /img/reviews/jedi/dart-mal-88x88.png 1x,
              /img/reviews/jedi/dart-mal-88x88.png 2x
            "
            src="/img/reviews/nazar-babenko.jpg"
            alt="Nazar Babenko"
            width="80"
            height="80"
          />
          <!--           <h2 class="reviewer-name">Nazar Babenko</h2> -->
          <h2 class="reviewer-name">Dart Maul</h2>
          <p class="review-text">
            This chocolate confection is a delight! A delight! The wafer is
            light and crisp, the hazelnut cream is smooth, and the chocolate is
            good.
          </p>
        </li>

        <li class="review-item swiper-slide">
          <img
            class="reviewer-photo"
            srcset="
              /img/reviews/jedi/padme-88x88.png 1x,
              /img/reviews/jedi/padme-88x88.png 2x
            "
            src="/img/reviews/olena-kampusch.jpg"
            alt="Olena Kampusch"
            width="80"
            height="80"
          />
          <!--           <h2 class="reviewer-name">Olena Kampusch</h2> -->
          <h2 class="reviewer-name">Padme Amidala</h2>
          <p class="review-text">
            Chocolate is a family favourite treat. Love the delicious smooth
            chocolate and the creaminess inside. The wafer is soft but crunchy.
          </p>
        </li>

        <li class="review-item swiper-slide">
          <img
            class="reviewer-photo"
            srcset="
              /img/reviews/jedi/obi-wan-88x88.png 1x,
              /img/reviews/jedi/obi-wan-88x88.png 2x
            "
            src="/img/reviews/natalia-sus.jpg"
            alt="Natalia Sus"
            width="80"
            height="80"
          />
          <!--           <h2 class="reviewer-name">Natalia Sus</h2> -->
          <h2 class="reviewer-name">Obi Wan</h2>
          <p class="review-text">
            The chocolate assortment was delicious. Both dark and milk chocolate
            pieces were smooth and just right on the sweetness level.
          </p>
        </li>

        <li class="review-item swiper-slide">
          <img
            class="reviewer-photo"
            srcset="
              /img/reviews/jedi/emperor-88x88.png 1x,
              /img/reviews/jedi/emperor-88x88.png 2x
            "
            src="/img/reviews/danilo-nottingham.jpg"
            alt="Danilo Nottingham"
            width="80"
            height="80"
          />
          <!--           <h2 class="reviewer-name">Danilo Nottingham</h2> -->
          <h2 class="reviewer-name">Emperor Palpatin</h2>
          <p class="review-text">
            This is delicious. It so rich and flavorful you don’t need to use as
            many. I love topping an apple with almond butter and these chips for
            a snack.
          </p>
        </li>

        <li class="review-item swiper-slide">
          <img
            class="reviewer-photo"
            srcset="
              /img/reviews/jedi/luk-skywalker-88x88.png 1x,
              /img/reviews/jedi/luk-skywalker-88x88.png 2x
            "
            src="/img/reviews/irina-tydnyuk.jpg"
            alt="Irina Tydnyuk"
            width="80"
            height="80"
          />
          <!--           <h2 class="reviewer-name">Irina Tydnyuk</h2> -->
          <h2 class="reviewer-name">Luke Skywalker</h2>
          <p class="review-text">
            This is simply the best chocolate around, and I'm just thrilled to
            support a local company! Best local chocolate - world class :)
          </p>
        </li>

        <li class="review-item swiper-slide">
          <img
            class="reviewer-photo"
            srcset="
              /img/reviews/jedi/chuwi-88x88.png 1x,
              /img/reviews/jedi/chuwi-88x88.png 2x
            "
            src="/img/reviews/irina-tydnyuk.jpg"
            alt="Chuwi"
            width="80"
            height="80"
          />
          <h2 class="reviewer-name">Chewbacca</h2>
          <p class="review-text">
            Uuuuuuuuuuur Ahhhhhhhrrrrrr Uhrrrr Ahhhhhhhrrr Aaaaaaarhg!
          </p>
        </li>

        <li class="review-item swiper-slide">
          <img
            class="reviewer-photo"
            srcset="
              /img/reviews/jedi/leya-88x88.png 1x,
              /img/reviews/jedi/leya-88x88.png 2x
            "
            src="/img/reviews/irina-tydnyuk.jpg"
            alt="Leya"
            width="80"
            height="80"
          />
          <h2 class="reviewer-name">Leia Organa Solo</h2>
          <p class="review-text">
            It is so delicious, my brother and husband likes it too! Darth Vader
            chocolate is the best chocolate in the galaxy
          </p>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>

    <button
      type="button"
      class="leave-review-btn"
      data-modal-open="review-modal"
    >
      Leave a review
    </button>
  </div>
</section>
<!-- Modal window -->
<div class="backprop is-hidden" id="review-modal" data-modal>
  <div class="modal">
    <button type="button" class="modal-close-btn" data-modal-close>
      <svg
        class="modal-close-icon"
        aria-label="close icon"
        width="24"
        height="24"
      >
        <use href="/img/icons.svg#icon-x-mark"></use>
      </svg>
    </button>
    <p class="review-form-title">
      leave a review <br />about <span class="text-accent">our chocolate</span>
    </p>
    <form class="review-form">
      <div class="review-form-field-container">
        <input
          class="review-form-input"
          type="text"
          name="user-name"
          id="user-name"
          placeholder="Name"
          maxlength="20"
          pattern="[\p{L}]+"
          required
        />
      </div>
      <div class="review-form-field-container">
        <input
          class="review-form-input"
          type="email"
          name="email"
          id="email"
          placeholder="Enter your email"
          pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
          required
        />
      </div>
      <div class="review-form-field-container">
        <div class="review-form-input-wrapper">
          <input
            class="review-form-input"
            type="tel"
            name="phone"
            id="phone"
            placeholder="Phone number"
            pattern="[0-9]{9}"
            minlength="9"
            maxlength="9"
            required
          />
          <div class="dialing-info-container">
            <svg
              class="review-form-field-icon"
              aria-label="ukraine flag icon"
              width="24"
              height="18"
            >
              <use href="/img/icons.svg#icon-flag-ua"></use>
            </svg>
            <p class="country-code">+380</p>
          </div>
        </div>
      </div>
      <div class="review-form-field-container">
        <textarea
          class="review-form-input review-form-review-text"
          name="review-text"
          id="review-text"
          placeholder="Enter text"
          maxlength="215"
          required
        ></textarea>
      </div>
      <button type="submit" class="send-review-btn">Send</button>
    </form>
  </div>
</div>
