<section class="top-sellers-section section">
  <div class="container">
    <h2 class="name-section-top-sellers" id="top-sellers">
      <span class="text-accent">Top </span>Sellers
    </h2>
    <ul class="top-sellers-list">
      <li class="list-item-section-top-sellers">
        <picture>
          <source
            srcset="
              /img/top-sellers/pc/foto_1.jpg   1x,
              /img/top-sellers/pc/foto_12x.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              /img/top-sellers/tablet/foto_1.jpg   1x,
              /img/top-sellers/tablet/foto_12x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              /img/top-sellers/mobile/foto_1.jpg   1x,
              /img/top-sellers/mobile/foto_12x.jpg 2x
            "
            media="(min-width:280px)"
          />

          <img
            class="top-sel-img"
            src="/img/top-sellers/mobile/foto_1.jpg"
            alt="chocolate and coffe"
          />
        </picture>
        <p class="discription-image-one">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li class="list-item-section-top-sellers">
        <picture>
          <source
            srcset="
              /img/top-sellers/pc/foto_2.jpg   1x,
              /img/top-sellers/pc/foto_22x.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              /img/top-sellers/tablet/foto_2.jpg   1x,
              /img/top-sellers/tablet/foto_22x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              /img/top-sellers/mobile/foto_2.jpg   1x,
              /img/top-sellers/mobile/foto_22x.jpg 2x
            "
            media="(min-width:280px)"
          />
          <img
            class="top-sel-img"
            src="/img/top-sellers/mobile/foto_2.jpg"
            alt="chocolate-two"
          />
        </picture>
        <div class="button-div">
          <button
            type="button"
            class="button-top-sellers-modal"
            data-modal-open="buy-modal"
          >
            Buy now
          </button>
        </div>
      </li>
      <li class="list-item-section-top-sellers item_pc">
        <picture>
          <source
            srcset="
              /img/top-sellers/pc/foto_3.jpg   1x,
              /img/top-sellers/pc/foto_32x.jpg 2x
            "
            media="(min-width:1200px)"
          />

          <img
            class="top-sel-img"
            src="/img/top-sellers/pc/foto_3.jpg"
            srcset="/img/top-sellers/pc/foto_32x.jpg 2x"
            alt="chocolate-three"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
