<section class="unique-components-section section">
  <div class="container">
    <h1 class="components-title">
      IT ALL ADDS UP TO ONE EXCEPTIONAL
      <span class="text-accent">TASTE</span>
      SENSATION
    </h1>

    <p class="components-title-description">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>

    <ul class="components-list list">
      <li class="components-item components-flex-1">
        <div class="flip-card">
          <div class="components-front-card">
            <picture>
              <!-- Desktop -->
              <source
                srcset="
                  /img/unique-components-img/desktop/milk-chocolate.webp    1x,
                  /img/unique-components-img/desktop/milk-chocolate@2x.webp 2x
                "
                media="screen and (min-width: 1200px)"
                type="image/webp"
              />
              <source
                srcset="
                  /img//unique-components-img/desktop/milk-chocolate.png   1x,
                  /img/unique-components-img/desktop/milk-chocolate@2x.png 2x
                "
                media="screen and (min-width: 1200px)"
              />

              <!-- Mobile & Tablet -->
              <source
                srcset="
                  /img/unique-components-img/mobile-tablet/milk-chocolate.webp    1x,
                  /img/unique-components-img/mobile-tablet/milk-chocolate@2x.webp 2x
                "
                media="screen and (min-width: 320px)"
                type="image/webp"
              />
              <source
                srcset="
                  /img/unique-components-img/mobile-tablet/milk-chocolate.png    1x,
                  /img/unique-components-img/mobile-tablet/milk-chocolate@2x.png 2x
                "
                media="screen and (min-width: 320px)"
              />

              <img
                class="components-front-img"
                src="/img/unique-components-img/mobile-tablet/milk-chocolate.png"
                alt="Milk Chocolate"
              />
            </picture>

            <p class="components-front-title">MILK CHOCOLATE</p>
          </div>

          <div class="components-back-card">
            <h3 class="components-back-title">MILK CHOCOLATE</h3>
            <ul class="components-back-btn-list list">
              <li class="components-back-btn back-first-btn">
                <p>milk chocolate</p>
              </li>

              <li class="components-back-btn back-second-btn">
                <p>the benefits</p>
              </li>
            </ul>

            <p class="components-back-descr">
              Milk chocolate is a solid chocolate confectionery containing
              cocoa, sugar and milk. It is the most consumed type of chocolate.
              Chocolate was originally sold and consumed as a beverage in
              pre-Columbian times. Although four-fifths of all milk chocolate is
              sold in the United States and Europe.
            </p>
          </div>
        </div>
      </li>

      <li class="components-item components-flex-2">
        <div class="flip-card">
          <div class="components-front-card">
            <picture>
              <!-- Desktop -->
              <source
                srcset="
                  /img/unique-components-img/desktop/milk.webp    1x,
                  /img/unique-components-img/desktop/milk@2x.webp 2x
                "
                media="screen and (min-width: 1200px)"
                type="image/webp"
              />
              <source
                srcset="
                  /img//unique-components-img/desktop/milk.png   1x,
                  /img/unique-components-img/desktop/milk@2x.png 2x
                "
                media="screen and (min-width: 1200px)"
              />

              <!-- Mobile & Tablet -->
              <source
                srcset="
                  /img/unique-components-img/mobile-tablet/milk.webp    1x,
                  /img/unique-components-img/mobile-tablet/milk@2x.webp 2x
                "
                media="screen and (min-width: 320px)"
                type="image/webp"
              />
              <source
                srcset="
                  /img/unique-components-img/mobile-tablet/milk.png    1x,
                  /img/unique-components-img/mobile-tablet/milk@2x.png 2x
                "
                media="screen and (min-width: 320px)"
              />

              <img
                class="components-front-img"
                src="/img/unique-components-img/mobile-tablet/milk.png"
                alt="Milk"
              />
            </picture>

            <p class="components-front-title">MILK</p>
          </div>

          <div class="components-back-card">
            <h3 class="components-back-title">MILK</h3>
            <ul class="components-back-btn-list list">
              <li class="components-back-btn back-first-btn">
                <p>milk</p>
              </li>

              <li class="components-back-btn back-second-btn">
                <p>the benefits</p>
              </li>
            </ul>

            <p class="components-back-descr">
              Milk is a white liquid food produced by the mammary glands of
              mammals. It is the primary source of nutrition for young mammals
              (including breastfed human infants) before they are able to digest
              solid food.Early-lactation milk, which is called colostrum,
              contains antibodies that strengthen the immune system.
            </p>
          </div>
        </div>
      </li>

      <li class="components-item components-flex-3">
        <div class="flip-card">
          <div class="components-front-card">
            <picture>
              <!-- Desktop -->
              <source
                srcset="
                  /img/unique-components-img/desktop/nuts.webp    1x,
                  /img/unique-components-img/desktop/nuts@2x.webp 2x
                "
                media="screen and (min-width: 1200px)"
                type="image/webp"
              />
              <source
                srcset="
                  /img//unique-components-img/desktop/nuts.png   1x,
                  /img/unique-components-img/desktop/nuts@2x.png 2x
                "
                media="screen and (min-width: 1200px)"
              />

              <!-- Mobile & Tablet -->
              <source
                srcset="
                  /img/unique-components-img/mobile-tablet/nuts.webp    1x,
                  /img/unique-components-img/mobile-tablet/nuts@2x.webp 2x
                "
                media="screen and (min-width: 320px)"
                type="image/webp"
              />
              <source
                srcset="
                  /img/unique-components-img/mobile-tablet/nuts.png    1x,
                  /img/unique-components-img/mobile-tablet/nuts@2x.png 2x
                "
                media="screen and (min-width: 320px)"
              />

              <img
                class="components-front-img"
                src="/img/unique-components-img/mobile-tablet/nuts.png"
                alt="Nuts"
              />
            </picture>

            <p class="components-front-title">NUTS</p>
          </div>

          <div class="components-back-card">
            <h3 class="components-back-title">NUTS</h3>
            <ul class="components-back-btn-list list">
              <li class="components-back-btn back-first-btn">
                <p>nuts</p>
              </li>

              <li class="components-back-btn back-second-btn">
                <p>the benefits</p>
              </li>
            </ul>

            <p class="components-back-descr">
              Almonds, pistachios, and walnuts are some types of nuts that
              contain healthy nutrients. When eaten as part of a nutrient-dense
              diet, these 9 nuts may offer benefits such as reducing your risk
              of heart disease. They’re a good source of fiber, healthy fats,
              and plant protein. Plus, they’re great on their own.
            </p>
          </div>
        </div>
      </li>

      <li class="components-item components-flex-4">
        <div class="flip-card">
          <div class="components-front-card">
            <picture>
              <!-- Desktop -->
              <source
                srcset="
                  /img/unique-components-img/desktop/sweet-chocolate.webp    1x,
                  /img/unique-components-img/desktop/sweet-chocolate@2x.webp 2x
                "
                media="screen and (min-width: 1200px)"
                type="image/webp"
              />
              <source
                srcset="
                  /img//unique-components-img/desktop/sweet-chocolate.png   1x,
                  /img/unique-components-img/desktop/sweet-chocolate@2x.png 2x
                "
                media="screen and (min-width: 1200px)"
              />

              <!-- Mobile & Tablet -->
              <source
                srcset="
                  /img/unique-components-img/mobile-tablet/sweet-chocolate.webp    1x,
                  /img/unique-components-img/mobile-tablet/sweet-chocolate@2x.webp 2x
                "
                media="screen and (min-width: 320px)"
                type="image/webp"
              />
              <source
                srcset="
                  /img/unique-components-img/mobile-tablet/sweet-chocolate.png    1x,
                  /img/unique-components-img/mobile-tablet/sweet-chocolate@2x.png 2x
                "
                media="screen and (min-width: 320px)"
              />

              <img
                class="components-front-img"
                src="/img/unique-components-img/mobile-tablet/sweet-chocolate.png"
                alt="Sweet-Chocolate"
              />
            </picture>

            <p class="components-front-title">SEMI-SWEET CHOCOLATE</p>
          </div>

          <div class="components-back-card">
            <h3 class="components-back-title">SEMI-SWEET CHOCOLATE</h3>
            <ul class="components-back-btn-list list">
              <li class="components-back-btn back-first-btn">
                <p>sweet chocolate</p>
              </li>

              <li class="components-back-btn back-second-btn">
                <p>the benefits</p>
              </li>
            </ul>

            <p class="components-back-descr">
              Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One
              of the best ways to gain an understanding of this type of
              chocolate is to compare it to a different type of chocolate.
              Semisweet is darker than milk chocolate. In a taste comparison, it
              has a slightly bitter taste whereas milk chocolate is sweeter.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
