/* --------- REVIEWS SECTION ---------*/
.reviews-section {
  padding-bottom: 64px;
}

.reviews-title {
  margin-bottom: 32px;
}

.reviewer-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  margin-bottom: 24px;
}

.review-text {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}

.leave-review-btn {
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  background-color: transparent;
  color: var(--main-color);
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  min-width: 165px;
  padding: 12px 28px;
  border: 1px solid var(--accent-color);
  border-radius: 100px;
}

.leave-review-btn:hover,
.leave-review-btn:focus {
  background-color: var(--accent-color);
  color: var(--white);
  outline: none;
}

.reviews-list {
  margin-bottom: 20px;
}

.review-item {
  position: relative;
  background: var(--white);
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
  border-radius: 15px;
  width: 335px;
  height: 200px;
  padding: 56px 18px 18px;
  margin-top: 42px;
}

.reviewer-photo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

@media screen and (min-width: 768px) {
  .reviews-section {
    padding-bottom: 100px;
  }

  .reviews-title {
    margin-bottom: 50px;
  }

  .reviews-list {
    margin-bottom: 32px;
  }

  .review-item {
    width: 334px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
  }
  .leave-review-btn {
    font-size: 18px;
    line-height: 1.22;
    padding: 14px 40px;
    min-width: 222px;
    margin-top: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .reviews-section {
    padding-bottom: 128px;
  }

  .review-item {
    width: 360px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
  }
}

/* --------- /REVIEWS SECTION ---------*/

/* --------- MODAL WINDOW - SEND REVIEW --------- */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 311px;
  min-height: 471px;
  padding: 32px 24px;
  background: var(--background);
  border-radius: 15px;
  z-index: 9999;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  background: transparent;
  border: none;
  border-radius: 50%;
  outline: none;
}

.modal-close-icon {
  stroke: var(--main-color);
  transition: stroke var(--transition);
}

.modal-close-btn:focus .modal-close-icon,
.modal-close-btn:hover .modal-close-icon {
  stroke: #f16529;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--active-button-color);
}

.review-form-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  max-width: 255px;
  margin-bottom: 32px;
}

.review-form-field-container {
  margin-bottom: 14px;
}

.review-form-field-container:last-of-type {
  margin-bottom: 18px;
}

.review-form-input {
  width: 100%;
  height: 45px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
  padding-left: 18px;
  outline: none;

  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.review-form-input[type='tel'] {
  padding-left: 106px;
}

.review-form-input:focus {
  border-color: var(--accent-color);
}

.review-form-input::placeholder {
  color: rgba(64, 64, 64, 0.3);
}

.review-form-review-text {
  height: 91px;
  resize: none;
  padding: 14px 18px;
}

.send-review-btn {
  min-width: 93px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: var(--white);
  background: var(--accent-color);
  border-radius: 100px;
  border: none;
  padding: 12px 28px;
}

.send-review-btn:hover,
.send-review-btn:focus {
  color: var(--accent-color);
  background: var(--active-button-color);
  outline: none;
}

.review-form-input-wrapper {
  position: relative;
}

.dialing-info-container {
  display: inline-flex;
  position: absolute;
  align-items: center;
  gap: 8px;
  width: 74px;
  height: 25px;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  box-shadow: 1.5px 0px 0px rgba(0, 0, 0, 0.1);
}

.dialing-info-container .country-code {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 517px;
    height: 628px;
    padding: 40px;
  }

  .modal-close-btn {
    width: 28px;
    height: 28px;
  }

  #review-modal .modal-close-icon {
    width: 28px;
    height: 28px;
  }

  .review-form-title br {
    display: none;
  }

  .review-form-title {
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 1.17;
    max-width: 298px;
  }

  .review-form-input {
    height: 66px;
    padding-left: 24px;
    font-size: 18px;
    line-height: 1.22;
  }

  .review-form-input[type='tel'] {
    padding-left: 177px;
  }

  .review-form-review-text {
    height: 137px;
    padding: 22px 24px;
  }

  .dialing-info-container {
    left: 24px;
    gap: 18px;
    width: 125px;
    height: 32px;
    box-shadow: 2.72px 0px 0px rgba(0, 0, 0, 0.1);
  }

  .review-form-field-icon {
    width: 32px;
    height: 24px;
  }

  .dialing-info-container .country-code {
    font-size: 18px;
    line-height: 1.22;
  }

  .send-review-btn {
    min-width: 93px;
    padding: 14px 40px;
  }
}

/* --------- /MODAL WINDOW - SEND REVIEW --------- */

/*  */
@media screen and (max-width: 319.9px) {
  .modal {
    width: 95%;
  }
}
/*  */
